.coordContainer {
    span:first-of-type {
        display: block;
        font-size: 14px;
    }
}

.coorValue {
    font-size: 32px;
    color: var(--third-font-color);
    font-weight: 900;
}

.noCoord {
    text-align: center;
}