:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-font-color: #989898;
  --secondary-font-color: white;
  --third-font-color: #6C63FF;
  --primary-btn-bg: #E01E4C;
  --secondary-btn-bg: #6C63FF;
  --btn-font-color: white;
  --borders-color: #D9D9D9;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}